* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Palatino, "Cinzel", Times, serif;
}

:root {
  --light-purp: #c8bf96;
  --med1-purp: #7d583f;
  --med2-purp: #1d3235;
  --dark-purp: #a08dca;

  /* background: url(https://images.unsplash.com/photo-1675765765869-dcf7da360fd1?q=80&w=3472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    fixed no-repeat; */
  background-size: cover;
  --main-txt-color: #b6af33;

  color: var(--main-txt-color);
}

#outlet {
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
}

#header {
  background: url(https://images.unsplash.com/photo-1506968430777-bf7784a87f23?q=80&w=3542&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    center no-repeat;
  background-size: cover;
  color: rgb(255, 252, 82);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 200px;
}

#header .logo {
  width: 350px; /* adjust as needed */
  height: 200px;
}

/* Navigation Menu */
#header nav {
  display: flex;
  align-items: flex-start;
}

#header nav a {
  color: rgb(252, 246, 45);
  text-decoration: none;
  padding: 20px 20px;
  transition: background 0.3s ease;
  margin-inline-start: auto;
  min-width: fit-content;
}

#header nav a:hover {
  background-color: #555;
}

.logo {
  background: transparent !important;
  width: 400px;
  height: 120px; /* Set a fixed height for your logo */
  display: grid;
  padding-top: 1%;
  margin-right: 100px; /* Add some margin to the right */
  margin-left: 650px;
}

a {
  text-decoration: none;
  color: var(--main-txt-color);
}

a:hover {
  text-decoration: none;
  color: var(--light-purp);
}

h2 {
  font-family: "Nothing You Could Do", "Cinzel", "Brush Script MT", Palatino;
  margin: 1rem;
  font-size: 2.25rem;
}

h3,
p,
ul {
  margin: 1rem;
  font-weight: normal;
}

ul {
  padding: 0 2rem;
}

.subtle {
  font-style: italic;
  color: var(--light-purp);
}

button,
form input[type="submit"] {
  padding: 0.5rem 2.5rem;
  border: 2px solid var(--light-purp);
  text-decoration: none;
  background-color: rgba(213, 175, 175, 0);
  color: var(--main-txt-color);
  font-size: 1.25rem;
  margin: 0 2rem;
  display: inline;
  float: right;
}

button:hover,
form input[type="submit"]:hover {
  cursor: pointer;
  color: var(--light-purp);
  background-color: rgba(255, 255, 255, 0.1);
}

#banner {
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 2rem;
}

.restaurant-list {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 475px;
  height: 350px;
  position: relative;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.details .hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
  will-change: max-height;
}

.card:hover .hidden {
  max-height: 200px;
}

.one_restaurant {
  min-width: 400px;
  max-width: 900px;
}

.restaurant_details {
  min-width: 300px;
  max-width: 600px;
}

aside {
  min-width: 100px;
  max-width: 300px;
}

.one_restaurant img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.main {
  margin: auto;
  padding: 2rem;
  min-width: 400px;
  max-width: 80%;
}

.buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: flex-end;
}

label,
.block {
  display: block;
  margin: 1rem;
  width: 80%;
}

.textarea {
  height: 100px;
}
