.one_restaurant {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}

.one_restaurant .image-container {
  display: contents;
  position: absolute;
  left: 0%;
}

.one_restaurant .image-details {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

.one_restaurant .reviews-container {
  padding: 1rem;
  border-radius: 10px;
  overflow-y: auto;
  background: tan;
  align-self: center; /* Center children vertically */
}

.one_restaurant .favorites-container {
  padding: 1rem;
  border-radius: 10px;
  overflow-y: auto;
  background: tan;
  align-self: center; /* Center children vertically */
}

/* Additional styles to ensure scrollbar only appears if needed */
.one_restaurant .reviews-container,
.one_restaurant .favorites-container {
  max-height: 75vh; /* Adjust height as needed */
  overflow-y: auto; /* Scrollbar for overflow content */
  font-size: large;
}
